body{
    background-color: silver;
}
#ancla-boton{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: xx-large;
    border: 20px groove red;
    border-width: 10px 10px 10px 10px;
}

.img-centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
figure img{
    width: 30%;
    height: 30%;
}


.color-otro{
    color: black;
    text-align: center;
}
.color-amarillo{
    color: yellow;
    text-align: center;
}
.color-azul{
    color: blue;
    text-align: center;
}
.color-rojo{
    color: red;
    text-align: center;
}
