html {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --linea-header: blueviolet; 
    --titulos: #fff;
    --fondo-section: #f5f5f5;
}

body{
    background-color: var(--fondo-section);
}

img {
    width: 120px;
    padding-right: 20px;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 5px solid var(--linea-header);
}

.etapas {
    background-color: var(--titulos);
    position: sticky;
    top: 0;
    z-index: 50px;
    padding-left: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

article {
    display: flex;
    width: 40%;
}

article div {
    display: flex;  
    text-align: center;
    flex-direction: column;
}

.wpp {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
}

#copyright {
    font-size: 15px;
    display: flex;
    justify-content: start;
    padding-left: 10px;
    padding-top: 0px;
    margin-bottom: 10px;
}

#iconos {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 10px;
    margin-bottom: 10px;
}