html {
    box-sizing: border-box;
    /* font-family: */
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --linea-header: blueviolet; 
    --titulos: white;
    --fondo-section: lightgrey;
}

img {
    width: 120px;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--linea-header);
}

main div {
    background-color: var(--titulos);
    position: sticky;
    top: 10%;
}

section {
    display: flex;
    flex-flow: row wrap;
}

section div{
    background-color: var(--fondo-section);
    display: flex;
    text-align: right;
}

.etapas {
    background-color: var(--fondo-section);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

/* h3 {
    display: flex;
    text-align: top;
}

article {
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
} */